@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: black;
  font-family: "Roboto";
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  background: rgb(224, 67, 19);
  padding: 5vmin;
}

/* ACTIVE LINK */
.active {
  padding: 1vmin;
  border: 1px dashed #ffffff;
}

/* BRAND */
.navbar-brand {
  font-size: 4vmin;
  font-family: "Spartan";
  color: white !important;
  font-weight: bold;
}

/* LEADS */
.leads {
  margin: 4vmin 0;
  padding: 4vmin 0;
}

.leads h1 {
  font-size: 5vmin;
  margin: 2vmin 0;
}

.leads hr {
  background: white;
}

/* LEAD */
.lead {
  margin: 2vmin 0;
}

/* CARD */
.card {
  border: 2px solid yellow;
}

.blockquote-footer {
  width: 100%;
  font-size: 1.5vw;
  color: black;
  font-weight: 400;
}

.delete-icon {
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
  transition: all 0.5s linear;
}

.edit-icon:hover {
  color: black;
}

@media (max-width: 360px) {
  .blockquote-footer {
    width: 100%;
    font-size: 2vw;
    font-weight: bold;
  }

  .no-wrap {
    flex-wrap: nowrap !important;
  }
}
